<form class="card" [formGroup]="form" (ngSubmit)="submit()">
    <h2>Enter to administration panel</h2>

    <div class="alert alert-danger"
    *ngIf="auth.error$ | async as error"
    >
    {{ error }}
    </div>

    <div class="alert alert-info"
    *ngIf="message"
    >
    {{ message }}
    </div>

    <div class="form-control"
    [ngClass]="{invalid: form.get('email').invalid && form.get('email').touched}"
    >
        <label for="email">Email:</label>
        <input 
            type="email" 
            id="email"
            formControlName="email"
            >
        <div class="validation"
        *ngIf="form.get('email').invalid && form.get('email').touched"
        >
            <small *ngIf="form.get('email').errors.required">Incorrect email</small>
            <small *ngIf="form.get('email').errors.email">Enter your email</small>
        </div>
    </div>
    <div class="form-control">
        <label for="password">Password:</label>
        <input 
            type="password" 
            id="password"
            formControlName="password"
            >
        <div class="validation"
        *ngIf="form.get('password').invalid && form.get('password').touched"
        >
        <small *ngIf="form.get('password').errors.required">Incorrect password</small>
        <small *ngIf="form.get('password').errors.minlength">
            Min password's length  {{form.get('password').errors.minlength.requiredLength}}. 
            Now {{form.get('password').errors.minlength.actualLength}}
        </small>
        </div>
    </div>
    <button 
        type="submit" 
        class="btn btn-primary" 
        [disabled]="form.invalid || submitted"
        >Sign in</button>
</form>